.btn {
    background-color: #ff0000;
    padding: 10px 20px;
    border: solid 2px #fe7474;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    width: 110px;
    border-radius: 100%;
    height: 110px;
    margin-left: 15px;
    outline: 0;
    &:hover {
      background-color: #e82020;
    }
  }