body {
    background-image: url("./bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #90c02a;
    padding: 0;
    margin: 0;
  }

  *, :after, :before {
    box-sizing: border-box;
}